# EDA 
In this EDA I will be exploring the generalities about the dataset. This may also lead to corrections in the dataset.

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('./Reto v2/listings.csv')
df

,id,listing_type,property_type,last_price,num_bedrooms,num_bathrooms,has_pool,has_terrace,surface_total
0,e2822ddf152f4842c29395ab9c8e379e,for-sale,apartment,4700000.0,2.0,1.0,NaN,NaN,101.0
1,0ba1c9fd7d004b87e118a94c0b1571dd,for-sale,apartment,7200000.0,2.0,2.0,NaN,1.0,70.0
2,0b2fc13289ffcfad80c52b6e1c88e2c6,for-sale,apartment,7500000.0,2.0,2.0,NaN,1.0,81.0
3,0d2b88624583c00a369b43028a9b63e6,for-sale,apartment,6600000.0,3.0,2.0,NaN,NaN,136.0
4,0d52ff8d810d19c4665e9c5a0e287816,for-sale,apartment,5600000.0,2.0,2.0,NaN,1.0,87.0
...,...,...,...,...,...,...,...,...,...
3281,d74825c4daec636aeeedb01231302fab,for-sale,apartment,9500000.0,3.0,2.0,NaN,1.0,170.0
3282,67d54869e7ad2d3f1ec95b4f0d4c543f,for-rent,apartment,49410.0,2.0,2.0,NaN,NaN,77.0
3283,7eaae90e38ff9780884203e95a4f554a,for-sale,apartment,7300000.0,2.0,2.0,NaN,1.0,100.0
3284,9150e52d2867abc80efc6b1324e8e85c,for-rent,apartment,35152.0,3.0,2.0,NaN,NaN,106.0
3285,0350c3b6cd12267ae2de8ee78dc3bbde,for-rent,apartment,17500.0,1.0,1.0,NaN,NaN,45.0

In [7]:
for col in df.columns:
    ignore_cols = ['id', 'last_price', 'surface_total']
    if col not in ignore_cols:
        print(df[col].value_counts())
        print()

listing_type
for-sale    2514
for-rent     772
Name: count, dtype: int64

property_type
apartment    3113
house         173
Name: count, dtype: int64

num_bedrooms
2.0    1802
1.0     769
3.0     521
4.0      38
0.0      19
8.0      18
5.0      18
7.0      12
6.0       8
9.0       1
Name: count, dtype: int64

num_bathrooms
2.0    1693
1.0    1010
3.0     216
2.5     132
3.5      43
1.5      37
4.0      25
5.0      18
0.0      15
7.0      11
8.0       3
5.5       3
4.5       2
9.0       2
7.5       1
Name: count, dtype: int64

has_pool
1.0    204
Name: count, dtype: int64

has_terrace
1.0    1848
Name: count, dtype: int64

The NAN values in the `has_pool` and `has_terrace` are probably 0's. This may cause trouble when prompting the LLM. So I will correct them at once.

In [11]:
df['has_pool'] = df['has_pool'].fillna(0.0)
df['has_terrace'] = df['has_terrace'].fillna(0.0)

In [12]:
# Check for other columns with nan
df.isna().sum()

id                0
listing_type      0
property_type     0
last_price        0
num_bedrooms     80
num_bathrooms    75
has_pool          0
has_terrace       0
surface_total     0
dtype: int64

There is some nans in `num_bedrooms` and `num_bathrooms`. I will try to keep the dataset as it is. If the LLM has troubles with it, I will probably drop them.

In [15]:
df.to_csv('./app/data/listings.csv', index = False)